[Unit]
Description=Open URL in your local web browser from the SSH-connected remote environment.

[Service]
Restart=always
Environment=OPENER_CONF=%t/opener.%i.conf
ExecStart=/bin/sh -c 'echo "address: %t/opener.%i.sock" > $OPENER_CONF && exec %h/bin/opener --config $OPENER_CONF'

[Install]
WantedBy=graphical-session.target
