set meta-flag on
set convert-meta off
set output-meta on
set completion-ignore-case on
set visible-stats on
set show-all-if-ambiguous on
set completion-query-items 150

#"\es": menu-complete
#"\eo": "\C-p\C-a\ef "
"\C-p": history-search-backward
"\C-n": history-search-forward
# "\e[A": history-search-backward
# "\e[B": history-search-forward

# those two are for rxvt
"\e[7~":beginning-of-line
"\e[8~":end-of-line

# on some xterm
"\e[H": beginning-of-line
"\e[F": end-of-line

