set meta-flag on
set convert-meta off
set output-meta on
set completion-ignore-case on
set visible-stats on
set show-all-if-ambiguous on
set completion-query-items 150

"\C-p": history-search-backward
"\C-n": history-search-forward

