Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.hinting: 1
Xft.autohint: 0
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

Xcursor.theme: Bibata_Oil
Xcursor.size: 64

XTerm*metaSendsEscape: true
XTerm.VT100.translations: #override \
Meta <Key> minus: smaller-vt-font() \n\
Meta <Key> plus: larger-vt-font() \n\
Super <Key> minus: smaller-vt-font() \n\
Super <Key> plus: larger-vt-font() \n\

