window {
  border: 1px solid rgba(96,125,139,0.7);
  background-color: rgba(38,50,56 ,0.8);
  border-radius: 15px;
font: 2em "IBM Plex Sans", sans-serif;
}

#outer-box {
  margin: 25px;
}

#input {
margin: 5px;
background-color: rgba(96,125,139,0.8);
color: rgba(236,239,241 ,1);
border-radius: 4px;
}

#inner-box {
}


#scroll {
}

#text {
  margin: 5px 1em;
  color: rgba(96,125,139 ,1);
}

#text:selected {
  color: rgba(255,213,79 ,1);
}

#entry {
}

#entry:selected {
  background-color: rgba(0,0,0,0.7);
}
