layout {
        default_tab_template {
                children
                pane {
                        borderless true
                        plugin {
                                location "zellij:compact-bar"
                                tooltip "Alt -"
                        }
                        size 1
                }
        }
        helix name="helix"
        tab name="shell"
        tab_template name="helix" {
                pane {
                        command "hx"
                }
        }
}
