default_layout "devel"
keybinds {
	shared {
		bind "Alt /" {
			LaunchOrFocusPlugin "file:~/.config/zellij/plugins/forgot.wasm" {
				LOAD_ZELLIJ_BINDINGS true
				floating true
			}
		}
		bind "Alt 0" {
			GoToTab 10
		}
		bind "Alt 1" {
			GoToTab 1
		}
		bind "Alt 2" {
			GoToTab 2
		}
		bind "Alt 3" {
			GoToTab 3
		}
		bind "Alt 4" {
			GoToTab 4
		}
		bind "Alt 5" {
			GoToTab 5
		}
		bind "Alt 6" {
			GoToTab 6
		}
		bind "Alt 7" {
			GoToTab 7
		}
		bind "Alt 8" {
			GoToTab 8
		}
		bind "Alt 9" {
			GoToTab 9
		}
		bind "Alt Esc" {
			ToggleFloatingPanes
		}
		bind "Alt `" {
			ToggleFloatingPanes
		}
		bind "Alt s" {
			LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zsm.wasm" {
				floating true
				move_to_focused_tab true
			}
		}
		unbind "Alt f"
		unbind "Ctrl p"
	}
	shared_except "session" {
		unbind "Ctrl q"
	}
}
pane_frames false
plugins {
	compact-bar location="zellij:compact-bar" {
		tooltip "Alt -"
	}
	status-bar {
		path "status-bar"
	}
	strider {
		path "strider"
	}
	tab-bar {
		path "tab-bar"
	}
}
show_startup_tips false
theme "iceberg-light"
ui {
	pane_frames {
		hide_session_name true
		rounded_corners true
	}
}
