(
    selected_tab: None,
    command_fg: Some(Rgb(2, 119, 189)),
    selection_bg: Some(Rgb(225, 245, 254)),
    selection_fg: Some(Reset),
    cmdbar_bg: Some(Reset),
    cmdbar_extra_lines_bg: Some(Rgb(2, 136, 209)),
    disabled_fg: Some(Rgb(109, 76, 65)),
    diff_line_add: Some(Rgb(56, 142, 60)),
    diff_line_delete: Some(Rgb(230, 74, 25)),
    diff_file_added: Some(Rgb(56, 142, 60)),
    diff_file_removed: Some(Rgb(230, 74, 25)),
    diff_file_moved: Some(Rgb(156, 39, 176)),
    diff_file_modified: Some(Rgb(255, 111, 0)),
    commit_hash: None,
    commit_time: Some(Rgb(0, 131, 143)),
    commit_author: None,
    danger_fg: None,
    push_gauge_bg: None,
    push_gauge_fg: None,
    tag_fg: None,
    branch_fg: Some(LightBlue),
)