[Desktop Entry]
Version=1.0
Name=Private Chrome
StartupWMClass=Google-chrome-beta-private
Exec=/usr/bin/google-chrome-beta %U --user-data-dir=$HOME/.config/Google-chrome-beta-private --class=Google-chrome-beta-private
StartupNotify=true
Terminal=false
Icon=google-chrome-beta
Type=Application
Categories=Netprivate;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
