[Desktop Entry]
Version=1.0
Name=plex
StartupWMClass=plex.aarn.shelman.io
Exec=/usr/bin/google-chrome-stable --profile-directory='Profile 2' --app-id=llnnnpamphjdahhjbplmgfangbkgfonf
Terminal=false
Icon=google-chrome
Type=Application
Categories=Audio;
