[Desktop Entry]
Name=tmux local
GenericName=tmux-local
StartupWMClass=tmux-local
Type=Application
TryExec=/usr/bin/wezterm
Icon=org.wezfurlong.wezterm
Terminal=false
Categories=System;TerminalEmulator;
Exec=/usr/bin/wezterm start --class=tmux-local
# Exec=/usr/bin/wezterm connect local
