[Desktop Entry]
Name=tmux devel
GenericName=tmux-devel
StartupWMClass=tmux-devel
Type=Application
TryExec=/usr/bin/wezterm
Icon=org.wezfurlong.wezterm
Terminal=false
Categories=System;TerminalEmulator;
Exec=/usr/bin/wezterm start --class=tmux-devel -- ssh devel
