[Desktop Entry]
Name=tmux devel
GenericName=tmux-devel
StartupWMClass=tmux-devel
Type=Application
TryExec=/home/dln/bin/alacritty
Icon=alacritty
Terminal=false
Categories=System;TerminalEmulator;
Exec=/home/dln/bin/alacritty --class=tmux-devel -e autossh -M0 -q devel
