[Desktop Entry]
Name=wezterm-dln-dev
GenericName=wezterm-dln-dev
StartupWMClass=org.wezfurlong.wezterm
Type=Application
TryExec=/usr/bin/wezterm
Icon=org.wezfurlong.wezterm
Terminal=false
Categories=System;TerminalEmulator;
Exec=/usr/bin/wezterm connect dln-dev --class=wezterm-dln-dev
#Exec=/usr/bin/wezterm --config 'default_prog={"ssh", "-q", "dln-dev"}' start --class=wezterm-dln-dev
