[Desktop Entry]
Name=wezterm-dln-dev-secondary
GenericName=wezterm-dln-dev-secondary
StartupWMClass=org.wezfurlong.wezterm
Type=Application
TryExec=/usr/bin/wezterm
Icon=org.wezfurlong.wezterm
Terminal=false
Categories=System;TerminalEmulator;
Exec=/usr/bin/wezterm connect dln-dev --class=wezterm-dln-dev-secondary
