[Desktop Entry]
Name=wezterm-dln-dev
GenericName=wezterm-dln-dev
StartupWMClass=org.wezfurlong.wezterm
Type=Application
TryExec=/usr/bin/wezterm
Icon=org.wezfurlong.wezterm
Terminal=false
Categories=System;TerminalEmulator;
Exec=/usr/bin/wezterm start --always-new-process --class=wezterm-dln-dev
